# Data Mining 

The main aim of this file is to extract valuable insights from the data.  

Thereafter, we will use the data insights to create and set up a dash dashboard

In [13]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\documents\performance_pulse\performance_pulse\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\documents\performance_pulse\performance_pulse\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\documents\performance_pulse\performance_pulse\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\documents\performance_pulse\performance_pulse\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\documents\performance_pulse\performance_pulse\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\documents\performance_pulse\performance_pulse\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
#loading the data

#importing pandas
import pandas as pd

#loading the files
file1= pd.read_csv("online_retail_2009.csv")
file2= pd.read_csv("online_retail.csv")

#combining the files
retail_data = pd.concat([file1, file2], ignore_index=True)
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [27]:
#previewing the data
retail_data.head(15)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,12/1/2009 7:45,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,12/1/2009 7:45,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,12/1/2009 7:45,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,12/1/2009 7:46,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,12/1/2009 7:46,3.75,13085.0,United Kingdom
10,489435,22195,HEART MEASURING SPOONS LARGE,24,12/1/2009 7:46,1.65,13085.0,United Kingdom
11,489435,22353,LUNCHBOX WITH CUTLERY FAIRY CAKES,12,12/1/2009 7:46,2.55,13085.0,United Kingdom
12,489436,48173C,DOOR MAT BLACK FLOCK,10,12/1/2009 9:06,5.95,13078.0,United Kingdom
13,489436,21755,LOVE BUILDING BLOCK WORD,18,12/1/2009 9:06,5.45,13078.0,United Kingdom
14,489436,21754,HOME BUILDING BLOCK WORD,3,12/1/2009 9:06,5.95,13078.0,United Kingdom

The StockCode has five numbers or five numbers and a letter. 

Finding out if there are other alternatives

In [28]:
#filtering data with five numbers only 

five_numbers = retail_data[retail_data['StockCode'].str.match(r'^\d{5}$')]
five_numbers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 932385 entries, 0 to 1067369
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      932385 non-null  object
 1   StockCode    932385 non-null  object
 2   Description  929519 non-null  object
 3   Quantity     932385 non-null  int64
 4   InvoiceDate  932385 non-null  object
 5   Price        932385 non-null  float64
 6   Customer ID  729813 non-null  float64
 7   Country      932385 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 64.0+ MB

In [37]:
#filtering data with numbers and letter
num_letters = retail_data[retail_data['StockCode'].str.match('^\d{5}[a-zA-Z]$')]
num_letters.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127520 entries, 1 to 1067317
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      127520 non-null  object
 1   StockCode    127520 non-null  object
 2   Description  126071 non-null  object
 3   Quantity     127520 non-null  int64
 4   InvoiceDate  127520 non-null  object
 5   Price        127520 non-null  float64
 6   Customer ID  89631 non-null   float64
 7   Country      127520 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 8.8+ MB

In [39]:
num_letters.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
12,489436,48173C,DOOR MAT BLACK FLOCK,10,12/1/2009 9:06,5.95,13078.0,United Kingdom
23,489436,35004B,SET OF 3 BLACK FLYING DUCKS,12,12/1/2009 9:06,4.65,13078.0,United Kingdom
28,489436,84596F,SMALL MARSHMALLOWS PINK BOWL,8,12/1/2009 9:06,1.25,13078.0,United Kingdom
29,489436,84596L,BISCUITS SMALL BOWL LIGHT BLUE,8,12/1/2009 9:06,1.25,13078.0,United Kingdom
42,489437,84507B,STRIPES DESIGN MONKEY DOLL,6,12/1/2009 9:08,2.55,15362.0,United Kingdom
46,489437,84970S,HANGING HEART ZINC T-LIGHT HOLDER,12,12/1/2009 9:08,0.85,15362.0,United Kingdom
61,489438,84031A,CHARLIE+LOLA RED HOT WATER BOTTLE,56,12/1/2009 9:24,3.00,18102.0,United Kingdom
62,489438,84031B,CHARLIE LOLA BLUE HOT WATER BOTTLE,56,12/1/2009 9:24,3.00,18102.0,United Kingdom

When the Stockcode has a letter at the end, it a variant of a product.

In [22]:
#finding the missing values per column 

print(retail_data.isnull().sum())

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

In [23]:
#number of unique items per column 
print(retail_data.nunique())

Invoice        53628
StockCode       5305
Description     5698
Quantity        1057
InvoiceDate    47635
Price           2807
Customer ID     5942
Country           43
dtype: int64